
.App{
  background-color: linear-gradient(79deg,#a275ef);
}
.auth-form-container, .login-form ,.register-form{
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media screen and (min-width: 20px) {
  .auth-form-container {
    padding: 30px;
    border: 1px solid rgb(177, 69, 69);
    border-radius: 15px;
    margin:auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #a8d3e7;
    overflow: hidden;
    width:250px;
    box-align:center;
    margin-top: 120px;
  }
  
  
}

label {
  text-align: left;
  padding: 5px;
}

input {
  margin:5px;
  padding: 10px;
  border: rgb(22, 21, 21);
  border-radius: 10px;
  width:200px;
}
.icon-home{
  font-size: 20px;
 }

button {
  border: none;
  background-color: rgb(108, 104, 226);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #f9f7fb;
  text-align: center;
  width:70px;
}

.link-btn {
  background: none;
  text-decoration: underline;
  width:300px;
  text-align: center;
  color:rgba(48, 48, 154, 0.765);
}






.center {
  margin: auto;
  width: 250px;
  height: 150px;
  margin-top: 250px;
  background-color: #d2c3ec;
  padding: 10px;
  font-size: x-large;
}
